<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReMind Official</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
     <!-- FONTASWOME CDN -->
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="style/main_style.css">
    <%- include('partials/var', {cookies: cookies}) %>
</head>
<body>
    <script>
        const customLoader = "feed"; 
        const profile_id = null;
        var user_id = '<%= user != null ? user.id : "Not Logged" %>';
    </script>
    <nav>
        <div class="container">
            <img src="../../../../../svg/logo/test.svg" class="logo-name">
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search games or creators">
            </div>
            <div class="create">
                <!-- button for sidebar -->
                <button id="menu-btn"><i class="uil uil-bars"></i></button>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <!---------------------- SIDEBAR ------------------------------>
            <%- include('partials/sidebar', {loc: "feed"}) %>

            <!---------------------- FEED ------------------------------>
            <div class="middle">
                <form class="create-post" action="api/internal/post/create/new" method="POST">
                    <div class="profile-photo">
                        <% if (user != null) { %>
                            <img src="./api/profile/image/<%= user.profile_picture %>/uuid">
                        <% } else { %>
                            <img src="./api/profile/image/not_loged/uuid">
                        <% } %>
                    </div>
                    <% if (user != null) { %>
                        <input type="text" name="description" placeholder="Write something" id="create-post" required>
                        <input type="hidden" name="game" value="all"/>
                        <input type="hidden" name="title" value="@<%= user.username %>"/>
                        <input type="hidden" name="image" value="no_image"/>
                        <input type="submit" value="Post" class="btn btn-primary">
                    <% } else { %>
                        <input type="text" placeholder="Please login to post." id="create-post" disabled>
                        <input type="submit" value="Login" class="btn btn-primary">
                    <% } %> 
                </form>
                <!---------------------- FEED POSTS ------------------------------>
                <div class="feeds" id="feeds">
                </div>
            </div>
            </div>
            <!---------------------- END OF FEED ------------------------------>
        </div>
    </main>
    <script src="./js/content_loader.js"></script>

<!---------------------- THEME ------------------------------>
 <div class="customize-theme">
    <div class="card">
        <h2>Customize your view</h2>
        <p class="text-muted">Manage your font size, color, and background.</p>

        <!------------ FONT SIZES ------------->
        <div class="font-size">
            <h4>Font Size</h4>
            <div>
                <h6>Aa</h6>
            <div class="choose-size">
                <span class="font-size-1"></span>
                <span class="font-size-2"></span>
                <span class="font-size-3"></span>
                <span class="font-size-4"></span>
                <span class="font-size-5"></span>
            </div>
            <h3>Aa</h3>
            </div>
        </div>

        <!------------ PRIMARY COLORS ------------->
        <div class="color">
            <h4>Color</h4>
            <div class="choose-color">
            <span class="color-1 active"></span>
            <span class="color-2"></span>
            <span class="color-3"></span>
            <span class="color-4"></span>
            <span class="color-5"></span>
            </div>
        </div>

        <!---------- BACKGROUND COLORS ------------>
        <div class="background">
            <h4>Background</h4>
            <div class="choose-bg">
                <div class="bg-1 active">
                    <span></span>
                    <h5 for="bg-1">Light</h5>
                </div>
                <div class="bg-2">
                    <span></span>
                    <h5>Dim</h5>
                </div>
                <div class="bg-3">
                    <span></span>
                    <h5 for="bg-3">Lights Out</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="popup user_interaction">
    <span class="overlay"></span>
    <div class="modal-box">
      <i class="uil uil-apps"></i>
      <h2>User Interaction</h2>
      <div class="buttons">
        <button onclick="processInteraction('profile')">Open Profile</button>
      </div>
      <div class="buttons">
        <button onclick="processInteraction('send_message')">Send Message</button>
      </div>
      <div class="buttons auth_for_interaction">
        <button onclick="processInteraction('delete_post')">Delete Message</button>
      </div>
      <div class="buttons">
        <button onclick="removeMedal('.user_interaction')">Close</button>
      </div>
    </div>
</section>
<section class="popup login_needed">
    <span class="overlay"></span>
    <div class="modal-box">
      <i class="uil uil-user-exclamation"></i>
      <h2>You are not logged</h2>
      <h3>You need to login is you want to perform this action.</h3>
      <div class="buttons">
        <button onclick="window.location.href = '../../auth/login'">Login</button>
        <button onclick="removeMedal('.login_needed')">Close</button>
      </div>
    </div>
</section>

<section class="popup comments comp_comments">
    <span class="overlay"></span>
    <div class="modal-box">
        <form class="create-comment" action="/api/create/new/post" method="POST">
            <div class="profile-photo">
                <% if (user != null) { %>
                    <img src="./api/profile/image/<%= user.profile_picture %>/uuid">
                <% } else { %>
                    <img src="./api/profile/image/not_loged/uuid">
                <% } %>
            </div>
            <% if (user != null) { %>
                <input type="text" name="description" placeholder="Write a comment" id="user-comment-imput" required>
                <input type="hidden" name="game" value="all"/>
                <input type="hidden" name="title" value="@<%= user.username %>"/>
                <input type="hidden" name="image" value="no_image"/>
                <input onclick="sendComment()" type="button" value="Post" class="btn btn-primary">
            <% } else { %>
                <input type="text" placeholder="Please login to post." id="create-post" disabled>
                <input onclick="window.location.href = '../../auth/login'" type="button" value="Login" class="btn btn-primary">
            <% } %> 
        </form>
        <div class="comment_box" id="comment_box">
        </div>
        <div class="buttons">
            <button onclick="removeMedal('.comp_comments')">Close</button>
          </div>
    </div>
</section>

<section class="popup posting posting_comp">
    <span class="overlay"></span>
    <div class="modal-box">
        <h1>Create new post</h1>
        <form id="send-new-post" class="create-post" enctype="multipart/form-data" action="../../../api/internal/post/create/new" method="POST">
            <input type="text" name="description" placeholder="Post Title" id="user-title-input" required>
            <!-- DropDown Search -->
            <div class="dropdown-selector-warpper">
                <div class="select-btn">
                  <span>Select Game</span>
                  <input type="hidden" id="user-game-input" name="game" value="all">
                  <i class="uil uil-angle-down"></i>
                </div>
                <div class="dropdown-selector-content">
                  <div class="dropdown-selector-search">
                    <input spellcheck="false" type="text" placeholder="Search">
                  </div>
                  <ul class="dropdown-selector-options"></ul>
                </div>
            </div>
              <!-- DropDown Search end -->
            <input type="text" class="description-input" maxlength="500" name="description" placeholder="Description" id="user-description-input" required>
            <label for="user-upload">Upload an image (.png)</label>
            <input type="file" name="file" placeholder="Image" id="user-upload" required>
            <input type="submit" value="Get me the stats!" class="btn btn-default"> 
        </form>
        <div class="comment_box" id="comment_box">
        </div>
        <div class="buttons">
            <button onclick="removeMedal('.posting')">Close</button>
            <button onclick="submit()">Send Post</button>
        </div>
    </div>
</section>
<script>
    const wrapper = document.querySelector(".dropdown-selector-warpper"),
    selectBtn = wrapper.querySelector(".select-btn"),
    searchInp = wrapper.querySelector("input"),
    options = wrapper.querySelector(".dropdown-selector-options");
    let games = [];
    // Made by maiky.dev
    async function start() {
        games = await (await fetch('../../../api/internal/get/games/all')).json();
        addCountry();
    }

    async function submit() {
        document.getElementById("send-new-post").submit();
    }
    
    async function addCountry(selectedGame) {
        options.innerHTML = "";
        for(game of games) {
            let isSelected = game == selectedGame ? "selected" : "";
            let li = `<li onclick="updateName(this)" class="${isSelected}">${game}</li>`;
            options.insertAdjacentHTML("beforeend", li);
        }
    }

    start();

    function updateName(selectedLi) {
        searchInp.value = "";
        addCountry(selectedLi.innerText);
        wrapper.classList.remove("active");
        selectBtn.firstElementChild.innerText = selectedLi.innerText;
        console.log(selectedLi.innerText);
        document.getElementById("user-game-input").value = selectedLi.innerText;
    }
    // Made by maiky.dev
    searchInp.addEventListener("keyup", () => {
        let arr = [];
        let searchWord = searchInp.value.toLowerCase();
        arr = games.filter(data => {
            return data.toLowerCase().startsWith(searchWord);
        }).map(data => {
            let isSelected = data == selectBtn.firstElementChild.innerText ? "selected" : "";
            return `<li onclick="updateName(this)" class="${isSelected}">${data}</li>`;
        }).join("");
        options.innerHTML = arr ? arr : `<p style="margin-top: 5px; font-size: 14px;">Game not found</p>`;
    });
    selectBtn.addEventListener("click", () => wrapper.classList.toggle("active"));
    </script>
<script src="./js/index.js"></script>
</body>
</html>