<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReMind Official</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
     <!-- FONTASWOME CDN -->
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../../../../style/main_style.css">
    <%- include('partials/var', {cookies: cookies}) %>
    <script>
        const customLoader = "profile"; 
        const profile_id = "<%= profile.id %>";
        var user_id = '<%= user != null ? user.id : "Not Logged" %>';
    </script>
</head>
<body>
    <nav>
        <div class="container">
            <img src="../../../../../svg/logo/test.svg" class="logo-name">
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search games or creators">
            </div>
            <div class="create">
                <!-- button for sidebar -->
                <button id="menu-btn"><i class="uil uil-bars"></i></button>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <!---------------------- SIDEBAR ------------------------------>
            <%- include('partials/sidebar') %>

            <!---------------------- FEED ------------------------------>
            <div class="middle">
                <div class="profile-card">
                    <div class="image">
                        <img src="../../../../api/profile/image/<%= profile.profile_picture %>/uuid" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2><%= profile.username %></h2>
                        <div>
                            <span><%= profile.role %>, </span>
                            <i class="uil uil-map-marker"> </i>
                            <span><%= profile.location %></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info">
                            <h3>Following</h3>
                            <span>120</span>
                        </div>
                        <div class="info">
                            <h3>Followers</h3>
                            <span>5000</span>
                        </div>
                        <div class="info">
                            <h3>Posts</h3>
                            <span>209</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#" class="btn">Message</a>
                        <a href="#" class="btn">Follow Me</a>
                        <a href="#" class="btn">Edit Profile</a>
                    </div>
                </div>
                <!---------------------- FEED POSTS ------------------------------>
                <div class="feeds" id="feeds">
                </div>
                <script src="../../../../js/content_loader.js"></script>
            </div>
            </div>
            <!---------------------- END OF FEED ------------------------------>
        </div>
    </main>

<!---------------------- THEME ------------------------------>
 <div class="customize-theme">
    <div class="card">
        <h2>Customize your view</h2>
        <p class="text-muted">Manage your font size, color, and background.</p>

        <!------------ FONT SIZES ------------->
        <div class="font-size">
            <h4>Font Size</h4>
            <div>
                <h6>Aa</h6>
            <div class="choose-size">
                <span class="font-size-1"></span>
                <span class="font-size-2"></span>
                <span class="font-size-3"></span>
                <span class="font-size-4"></span>
                <span class="font-size-5"></span>
            </div>
            <h3>Aa</h3>
            </div>
        </div>

        <!------------ PRIMARY COLORS ------------->
        <div class="color">
            <h4>Color</h4>
            <div class="choose-color">
            <span class="color-1 active"></span>
            <span class="color-2"></span>
            <span class="color-3"></span>
            <span class="color-4"></span>
            <span class="color-5"></span>
            </div>
        </div>

        <!---------- BACKGROUND COLORS ------------>
        <div class="background">
            <h4>Background</h4>
            <div class="choose-bg">
                <div class="bg-1 active">
                    <span></span>
                    <h5 for="bg-1">Light</h5>
                </div>
                <div class="bg-2">
                    <span></span>
                    <h5>Dim</h5>
                </div>
                <div class="bg-3">
                    <span></span>
                    <h5 for="bg-3">Lights Out</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../../../js/index.js"></script>
</body>
</html>